/* line 2, ass513D.tmp.scss */
#ou-servers ul {
  margin: 0;
  padding: 0;
}
/* line 6, ass513D.tmp.scss */
#ou-servers ul li {
  list-style: none;
}
/* line 9, ass513D.tmp.scss */
#ou-servers ul li + li {
  margin-top: 3px;
}
/* line 13, ass513D.tmp.scss */
#ou-servers ul .ou-subservers {
  margin-left: 20px;
}
/* line 17, ass513D.tmp.scss */
#ou-servers ul .ou-server {
  clear: both;
}
/* line 20, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content {
  background: white;
  box-sizing: border-box;
  border-radius: 3px;
}
/* line 25, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-name {
  padding: 10px 15px;
  margin: 0;
  font-weight: normal;
  font-size: 11pt;
  color: #494949;
  display: inline-block;
}
/* line 34, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions {
  margin: 0 0 0 3px;
  padding: 10px;
  display: inline-block;
  float: right;
}
/* line 40, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions li {
  float: left;
}
/* line 43, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions li + li {
  margin-left: 15px;
  margin-top: 0;
}
/* line 48, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-remove,
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-edit,
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-add {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
/* line 57, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-remove:hover,
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-remove:focus {
  color: #df3b3b;
  outline: 0;
}
/* line 62, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-edit:hover,
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-edit:focus {
  color: #0070ff;
  outline: 0;
}
/* line 67, ass513D.tmp.scss */
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-add:hover,
#ou-servers ul .ou-server .ou-server-content .ou-server-actions .btn-ou-server-add:focus {
  color: #5bce57;
  outline: 0;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/* line 94, ass513D.tmp.scss */
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 103, ass513D.tmp.scss */
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/* line 118, ass513D.tmp.scss */
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

/* line 125, ass513D.tmp.scss */
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

/* line 131, ass513D.tmp.scss */
.progress-bar[aria-valuenow="1"],
.progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}

/* line 135, ass513D.tmp.scss */
.progress-bar[aria-valuenow="0"] {
  color: #777777;
  min-width: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

/* line 142, ass513D.tmp.scss */
.progress-bar-success {
  background-color: #5cb85c;
}

/* line 145, ass513D.tmp.scss */
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 150, ass513D.tmp.scss */
.progress-bar-info {
  background-color: #5bc0de;
}

/* line 153, ass513D.tmp.scss */
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 158, ass513D.tmp.scss */
.progress-bar-warning {
  background-color: #f0ad4e;
}

/* line 161, ass513D.tmp.scss */
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 166, ass513D.tmp.scss */
.progress-bar-danger {
  background-color: #d9534f;
}

/* line 169, ass513D.tmp.scss */
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* line 174, ass513D.tmp.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 179, ass513D.tmp.scss */
.clearfix:after {
  clear: both;
}

/* line 182, ass513D.tmp.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 187, ass513D.tmp.scss */
.pull-right {
  float: right !important;
}

/* line 190, ass513D.tmp.scss */
.pull-left {
  float: left !important;
}

/* line 193, ass513D.tmp.scss */
.hide {
  display: none !important;
}

/* line 196, ass513D.tmp.scss */
.show {
  display: block !important;
}

/* line 199, ass513D.tmp.scss */
.invisible {
  visibility: hidden;
}

/* line 202, ass513D.tmp.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 209, ass513D.tmp.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 213, ass513D.tmp.scss */
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 219, ass513D.tmp.scss */
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

/* line 226, ass513D.tmp.scss */
.progress-bar {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

/* line 233, ass513D.tmp.scss */
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

/* line 240, ass513D.tmp.scss */
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

/* line 247, ass513D.tmp.scss */
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

/* line 254, ass513D.tmp.scss */
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

/* line 261, ass513D.tmp.scss */
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
